@import "../base/all";

.section {
  padding-bottom: 4rem;
  padding-top: 8rem;

  &:first-of-type {
    padding-bottom: 0;
    padding-top: 0;
  }
}

.section p,
.section div.p {
  max-width: $setting-max-paragraph-width;
}
