@import "../base/all";

.text-block {
  display: flex;
  justify-content: flex-end;
}

.text-block + .text-block,
.embed-wrapper + .text-block {
  margin-top: 4rem;
}

.text-block.no-margin-top {
  margin-top: 0;
}

.text-block aside {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  flex: 0 1 calc(25% - 1rem);
  padding-right: 1rem;
}

.text-block aside.graphic-top {
  align-items: center;
  justify-content: flex-start;
}


.text-block article {
  flex: 0 1 75%;
}

@include breakpoint(medium-down) {
  .text-block article {
    flex: 1 1 100%;
  }

  .text-block aside {
    display: none;
  }
}

@include breakpoint(medium) {
  .text-block aside.img-wrapper {
    display: block;
  }
}
