.container {
  width: 100%;
  max-width: 90rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.flex-container {
  display: flex;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-half {
  flex: 0 1 100%;
  width: 100%;
}

@include breakpoint(medium) {
  .col-half {
    flex: 0 1 50%;
    width: 50%;
  }

  .col-half:nth-child(even) {
    padding-left: 1rem;
  }
  .col-half:nth-child(odd) {
    padding-right: 1rem;
  }
}
