.tableauPlaceholder {
  position: relative;

  padding-top: 97.5%;
  width: 100% !important;
}

.tableauPlaceholder iframe {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  height: 100%;
  width: 100%;
}

.tableauViz {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
