@import "../../../styles/base/all";

.header__expanded-content {
  display: flex;
  flex-direction: column;
  height: 100%;

  transition: all 150ms ease-in-out;
}

.header__expanded-content:not(.nav-open) {
  opacity: 0;
  pointer-events: none;
}

.header__expanded-content.nav-open {
  opacity: 1;
  pointer-events: all;
}

.header-expanded__heading {
  flex: 0 1 auto;
}

.header-expanded__nav-list {
  flex: 1 1 auto;

  display: flex;
  justify-content: center;
}
