@import "../../../styles/base/all";

.navigation-list {
  &.header-expanded__navigation {
    margin-left: auto;
    margin-right: auto;
  }
}

.navigation-list--desktop {
  display: none;
  justify-content: flex-end;
  flex: 0 1 100%;
}

.navigation-list__item {
  margin-bottom: 2rem;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.navigation-list--desktop .navigation-list__item {
  margin-bottom: 0;
  margin-right: 1rem;

  &:last-of-type {
    margin-right: 0;
  }
}

.navigation-list__link {
  text-decoration: none;
}


.navigation-list--desktop .navigation-list__link {
  padding: 0.25rem;
  font-size: 0.75rem;

  @include transition;
}

.navigation-list--desktop .navigation-list__link.active {
  color: $white;

  background-color: lcsBlue();
}

@include breakpoint(medium-down) {
  .navigation-list__link {
    font-size: 1.5rem;
  }
}

@include breakpoint(medium) {
  .navigation-list__item {
    margin-bottom: 4rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

@media all and (max-height: 60rem) {
  .navigation-list__link {
    font-size: 1.5rem;
  }
}

@include breakpoint(large) {
  .navigation-list--desktop {
    display: flex;
  }
}

