@import "../../styles/base/all";

.tableauPlaceholder {
  padding-top: 0 !important;
}

.viz-embed__link {
  position: relative;
}

.viz-embed__link-text {
  text-align: center;
  width: 100%;
}

.viz-embed-placeholder {
  position: relative;

  display: block;

  cursor: pointer;
}

.viz-embed-placeholder:after {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  background-color: rgba(0,0,0,0.25);
  content: '';
}

.viz-embed-placeholder__toggle {
  left: 50%;
  position: absolute;
  top: 50%;
  z-index: 9;

  transform: translate3d(-50%, -50%, 0);
}

@include breakpoint("medium-down") {
  .viz-embed--desktop {
    display: none;
  }
}


@include breakpoint("medium") {
  .viz-embed--mobile {
    display: none;
  }
}
