@import "../../styles/base/all";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;

  background-color: $white;
  padding-top: 1rem;
  padding-bottom: calc(1rem - 1px);

  border-bottom: 1px solid uswdsGray(2);
  transition: height 300ms ease-in-out;
}

.header__content {
  display: flex;
  align-items: center;
}
