@import "../../styles/base/all";

.embed-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

.embed-wrapper article {
  flex: 0 1 75%;
}

.embed-wrapper article.full {
  flex: 0 1 100%;
}

@include breakpoint(medium-down) {
  .embed-wrapper article {
    flex: 1 1 100%;
  }
}
