@mixin color-class-creator($color-list, $color-name) {
  @each $num, $color in $color-list {
    .bg-#{$color-name}-#{$num} {
      background-color: $color;
    }

    .fill-#{$color-name}-#{$num} {
      fill: $color;
    }

    .text-#{$color-name}-#{$num} {
      color: $color;
    }
  }
}
