@import "../../../styles/base/all";

.header__link-wrapper {
  display: flex;
  justify-content: flex-start;
  flex: 1 1 100%;
}

.header__link {
  position: relative;

  display: block;
  text-decoration: none;
  transition: transform 300ms ease-in-out;
}

.header__h1 {
  height: 4rem;
  display: flex;
  align-items: center;

  transition: all 150ms ease-in-out;
}

.header-h1__subtitle {
  line-height: 1.5rem;
}

.header-h1__title {
  line-height: 2.5rem;
}

@include breakpoint(small-down) {
  .header-h1__subtitle,
  .header-h1__title {
    display: none;
  }
}

@include breakpoint(small) {
  .header-h1__text {
    margin-left: 0.5rem;
  }
}

@include breakpoint(large) {
  .header__link-wrapper {
    flex: 0 1 auto;
    margin-right: 2rem;

    white-space: nowrap;
  }
}
