@import "../../styles/base/all";

.icon-funding-circle__general-funds {
  fill: lcsBlue(3);
}
.icon-funding-circle__cash-funds {
  fill: lcsGoldWeb(2);

}
.icon-funding-circle__federal-funds {
  fill: lcsGrey(2);
}
.icon-funding-circle__outline {
  fill: lcsGrey(2);
}
