.section#introduction {
  display: flex;
  align-items: center;
  height: calc(90vh - 6rem);
  min-height: 30rem;
  max-height: 60rem;
}

.section-1__text {
  max-width: 56rem;
  margin-left: auto;
  margin-right: auto;
}
