@import "../../styles/base/all";

.accordion__title {
  position: relative;

  display: block;
  width: 100%;
  padding: 1rem;

  font-size: 1rem;
  text-align: left;
  text-transform: none;

  @include appearance-reset;
  background-color: uswdsGray(1);
  border: none;
  border-bottom: 1px solid uswdsGray(2);
  cursor: pointer;

  &[aria-hidden="false"] {
    color: $white;

    background-color: lcsBlue(4);
  }
}

.accordion-title__icon-wrapper {
  bottom: 0;
  position: absolute;
  right: 0;
  top: 0;

  align-items: center;
  display: flex;
  justify-content: center;
  width: 4rem;

  pointer-events: none;
}

.accordion-title__icon {
  height: 1rem;

  transition: transform 150ms ease-in-out;
}

.accordion__title[aria-hidden="false"] .accordion-title__icon {
  fill: uswdsGray(1);
  transform: rotate(180deg);
}

.accordion__panel-wrapper {
  overflow: hidden;
}

.accordion__panel {
  position: relative;

  padding: 1rem;
}
