@import "../../../styles/base/all";

.header__menu-toggle {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 0 1 auto;
}

.burger-menu {
  position: relative;

  height: 2.5rem;
  margin: 0;
  padding: 0;
  width: 2.5rem;

  @include appearance-reset;
  background-color: $white;
  border: none;
  border-radius: 50%;
  box-shadow: 0 1px 1px 0 rgba(23,23,23,0.15);
  cursor: pointer;
}

.burger-menu__bar {
  position: absolute;
  left: 12px;
  height: 0.125rem;
  width: 1rem;

  background-color: lcsBlue(4);
  transition: transform 150ms ease-in-out;
}

$burger-bar-1-top-offset: 14px;

.burger-menu__bar.bar-1 {
  top: $burger-bar-1-top-offset;
}

.burger-menu__bar.bar-2 {
  top: $burger-bar-1-top-offset + 5;
}

.burger-menu__bar.bar-3 {
  top: $burger-bar-1-top-offset + 10;
}


.burger-menu[data-toggle="true"] .burger-menu__bar.bar-1 {
  transform: rotate(45deg) translate3d(4px, 4px, 0px);
}
.burger-menu[data-toggle="true"] .burger-menu__bar.bar-2 {
  opacity: 0;
}
.burger-menu[data-toggle="true"] .burger-menu__bar.bar-3 {
  transform: rotate(-45deg) translate3d(3px, -3px, 0px);
}

@include breakpoint("large") {
  .header__menu-toggle {
    display: none;
  }
}
