// Base Colors
// ----------------------------------------------------------------------------

$white: #ffffff;
$black: #000000;

// Colorado State Colors
$base-co-green: #00953a;
$base-co-orange: #ef7521;
$base-co-blue: #6ec4e8;
$base-co-brown: #65503c;
$base-co-silver: #d0d2d3;
$base-co-slate: #5c666f;
$base-co-black: #000000;

// LCS Colors
$base-lcs-blue: #186ea8;
$base-lcs-gold: #bdaa57;
$base-lcs-grey: #808080;

// Secondary LCS Colors
$base-lcs-purple: #8c5281;
$base-lcs-mauve: #ac6666;
$base-lcs-red: #c44040;
$base-lcs-teal: #48caca;
$base-lcs-green: #2f9150;
$base-lcs-orange: #b76827;

// Color Palettes
// ----------------------------------------------------------------------------

// Primary Legislative Council Services Colors

$lcs-blue: (
  1: #c7e3f7,
  2: #8fc8ef,
  3: #57ade7,
  4: $base-lcs-blue,
  5: #12527d,
  6: #0c3754
);

$lcs-gold: (
  1: #f1eddd,
  2: #e4dcbb,
  3: #d7cb9a,
  4: $base-lcs-gold,
  5: #94833a,
  6: #635727
);

$lcs-gold-web: (
  1: #ffdf88,
  2: #fdc52b,
  3: #edb008,
  4: #d28500,
  5: #A36700
);

$lcs-grey: (
  1: #d9d9d9,
  2: #bfbfbf,
  3: #a6a6a6,
  4: $base-lcs-grey,
  5: #595959,
  6: #404040
);

// Additional Legislative Council Colors

$lcs-purple: (
  1: #e9dae6,
  2: #d4b6ce,
  3: #bf91b6,
  4: $base-lcs-purple,
  5: #683d60,
  6: #462940
);

$lcs-mauve: (
  1: #eee0e0,
  2: #ddc1c1,
  3: #cda3a3,
  4: $base-lcs-mauve,
  5: #844848,
  6: #583030
);

$lcs-red: (
  1: #f3d8d8,
  2: #e7b2b2,
  3: #db8c8c,
  4: $base-lcs-red,
  5: #942e2e,
  6: #621e1e
);

$lcs-teal: (
  1: #daf4f4,
  2: #b5e9e9,
  3: #91dfdf,
  4: $base-lcs-teal,
  5: #2e9e9e,
  6: #1f6a6a
);

$lcs-green: (
  1: #ceefd9,
  2: #9edfb4,
  3: #6ed08f,
  4: $base-lcs-green,
  5: #236c3b,
  6: #174828
);

$lcs-orange: (
  1: #f5e0cf,
  2: #eac19f,
  3: #e0a270,
  4: $base-lcs-orange,
  5: #884d1d,
  6: #5b3413
);

// Colorado State Colors

$co-blue: (
  1: #a3e4ff,
  2: #8cd9fa,
  3: #82d3f5,
  4: $base-co-blue,
  5: #5bb4d9,
  6: #49a5cc,
  7: #4b98b8
);

$co-brown: (
  1: #b38d6a,
  2: #99795b,
  3: #80654c,
  4: $base-co-brown,
  5: #4d3926,
  6: #402f20,
  7: #2e2217
);

$co-green: (
  1: #00e057,
  2: #00c74d,
  3: #00ad43,
  4: $base-co-green,
  5: #006e2b,
  6: #005421,
  7: #004019
);

$co-orange: (
  1: #ff9d59,
  2: #fa8f46,
  3: #fa812d,
  4: $base-co-orange,
  5: #cc5e12,
  6: #c9580a,
  7: #b34900
);

// United States Web Design Colors

$uswds-grayscale: (
  1: #fafafa,
  2: #f0f0f0,
  3: #dcdee0,
  4: #a9aeb1,
  5: #71767a,
  6: #565c65,
  7: #3d4551,
  8: #171717
);

$uswds-info-blue: (
  1: #e7f6f8,
  2: #9ddfeb,
  3: #00bde3,
  4: #009bc2,
  5: #2e6276
);

$uswds-error-red: (
  1: #f4e3db,
  2: #f39268,
  3: #d63e04,
  4: #b50909,
  5: #6f3331
);

$uswds-warning-yellow: (
  1: #faf3d1,
  2: #fee685,
  3: #ffbe2e,
  4: #e5a000,
  5: #936f38
);

$uswds-success-green: (
  1: #ecf3ec,
  2: #70e17b,
  3: #0ca900,
  4: #466432,
  5: #364b29
);

$uswds-disabled-gray: (
  1: #e6e6e6,
  2: #c9c9c9,
  3: #adadad
);

// Color Functions
// ----------------------------------------------------------------------------

// LCS Colors

@function lcsBlue($num: 4) {
  @return map-get($lcs-blue, $num);
}
@function lcsGrey($num: 4) {
  @return map-get($lcs-grey, $num);
}
@function lcsGold($num: 4) {
  @return map-get($lcs-gold, $num);
}
@function lcsGoldWeb($num: 2) {
  @return map-get($lcs-gold-web, $num);
}
@function lcsPurple($num: 4) {
  @return map-get($lcs-purple, $num);
}
@function lcsMauve($num: 4) {
  @return map-get($lcs-mauve, $num);
}
@function lcsRed($num: 4) {
  @return map-get($lcs-red, $num);
}
@function lcsTeal($num: 4) {
  @return map-get($lcs-teal, $num);
}
@function lcsGreen($num: 4) {
  @return map-get($lcs-green, $num);
}
@function lcsOrange($num: 4) {
  @return map-get($lcs-orange, $num);
}

// Colorado Colors

@function coBlue($num: 4) {
  @return map-get($co-blue, $num);
}

@function coBrown($num: 4) {
  @return map-get($co-brown, $num);
}

@function coGreen($num: 4) {
  @return map-get($co-green, $num);
}

@function coOrange($num: 4) {
  @return map-get($co-orange, $num);
}

// ----------------------------------------------------------------------------

// USWDS Colors

@function uswdsGray($num: 5) {
  @return map-get($uswds-grayscale, $num);
}

@function uswdsDisabled($num: 2) {
  @return map-get($uswds-disabled-gray, $num);
}

@function uswdsError($num: 3) {
  @return map-get($uswds-error-red, $num);
}

@function uswdsInfo($num: 3) {
  @return map-get($uswds-info-blue, $num);
}
@function uswdsSuccess($num: 3) {
  @return map-get($uswds-success-green, $num);
}
@function uswdsWarning($num: 3) {
  @return map-get($uswds-warning-yellow, $num);
}
